
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@model Mission06_Price.Models.Movie

<h2>Thank You for adding @Model.Title</h2>
<a asp-area="" asp-controller="Home" asp-action="MovieForm">Enter a new Movie</a>

