
@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>Get To Know Joe</title>
</head>
<body>
<div>
    <!--Comedy club link-->
    <a href="https://www.qwcomedy.com">Link to the Comedy Club</a>
    <br/>
    <!--  Link to his podcast -->
    <a href="https://baconsale.com/">Link to his Podcast</a>
    <br/>
    
    <!-- the picture with the link to the podcast  -->
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" alt="Podcast group photo" width="300">
    </a>
    <br/>
    <p>Click the picture it does something cool!</p>
</div>
</body>
</html>