
@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>Get To Know Joe</title>
</head>
<body>
<div>
    <a href="https://www.qwcomedy.com">Link to the Comedy Club</a>
    <br/>
    <a href="https://baconsale.com/">Link to his Podcast</a>
    <br/>
    <a href="https://baconsale.com/">
        <img src="~/img/BaconsaleKate.jpg" alt="Podcast group photo" width="300">
    </a>
</div>
</body>
</html>