
@model Mission06_Price.Models.Movie

@{
    Layout = Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>Enter a Movie</title>
</head>
<body>
<div>
    <!-- Form to receive the data  -->
    <form method="post">
        <label asp-for="Category">Category: </label>
        <input asp-for="Category" required/>
        <br/>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" required/>
        <br/>
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" min="1888" required/> <!-- 1888 was the first movie so it cant be before that   -->
        <br/>
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" required/>
        <br/>
        <label asp-for="Rating">Rating</label> <!-- Drop down for Rating  -->
        <select asp-for="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br/>
        <label asp-for="Edited">Edited</label> <!--  Drop down for Edited -->
        <select asp-for="Edited">
            <option></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br/>
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo"/>
        <br/>
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes"/>
        <br/>
        <!-- Submit it all to the server -->
        <button type="submit">Submit Movie</button>
    </form>
</div>
</body>
</html>